html{
    font-family: 'Consolas';
}
body {
    background-color: mistyrose;
    margin: auto;
    font-weight: 100%;
}
menu{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: mistyrose;
    border: 5px solid #7879F1;
    padding: .5em;
    display: flex;
}
menu ul {
    display: flex;
    margin: 0;
    padding: 1em;
    list-style: none;
}
menu a {
    flex:1;
    padding: 1em 2em;
    border: 1px solid #EF5DA3;
}
      
menu a:hover {
    background-color: rgb(246, 181, 174)
}
img {
    max-width: 100%;
    float: left;
    display: block;
    padding: 0 20px 0 0;
    top: 100px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 400px 400px 400px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 10px;
}
.feature{
    width: 100%;
    margin-top: 150px;
    float: left;
}
#title {
    text-align: center;
    margin-top: 150px;
    padding: 0 20px; 
}
#game-title {
    text-align: center;
    margin-top: 150px;
    padding: 0 20px;
}
@media screen and (max-width: 400px){
    body{
        font-size: 12pt;
    }
    content{
        display: grid;
        grid-template-columns: 1fr 4fr;
        column-gap: 5px;
    }
}
@media screen and (width: 1900px) {
    content{
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 20px;
    }
}
.about {
    margin-top: 150px;
    padding-left: 0 20px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 0 20px 0 20px;
}
@media screen and (width: 1900px) {
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
    }
}
@media screen and (max-width: 400px) {
    .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
}
.main{
    width: 30%;
    padding: 0 20px;
}
.deco{
    width: 100%;
}
.gameboard {
    max-width: 50%;
	margin: 2% auto;
}
.square {
    background: black;
    width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.5%;
	border-radius: 15%;
}
#instructions {
    text-align: center;
}
.reset-button {
    margin-left: auto;
    margin-right: auto;
}
#navigation {
	text-align: center;
    padding: 2.5%;
}
#scoreboard {
	margin-left: 15%;
}